<div class="app-container {{themes[current_theme_id]}}">
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 8px; margin-right: 8px;"> {{ title }} </span>
    <button mat-icon-button (click)="current_theme_id = current_theme_id === 0 ? 1 : 0">
      <mat-icon>invert_colors</mat-icon>
    </button>
    <button mat-icon-button (click)="message.toggle()">
      <mat-icon>message</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="app-sub-container">
    <mat-sidenav #snav mode="over">
      <p *ngFor="let item of routes">
        <button mat-raised-button [routerLink]="item.path" routerLinkActive="active">{{item.name}}</button>
      </p>
    </mat-sidenav>

    <mat-sidenav-content class="app-container">
      <mat-sidenav-container class="app-sub-container">
        <mat-sidenav #message mode="side" [opened]="true">
          <!--
            <app-message-container></app-message-container>
          -->
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
